{% extends "base.html" %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<div class="page-header">
    <div class="jumbotron">
    	<h1>Welcome to UR-Mart!</h1>
    	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, error sequi labore accusantium facilis architecto eligendi minus ad, a exercitationem eos ab earum! Quae debitis velit dolorem eaque quod omnis.</p>
    	<p><a class="btn btn-primary btn-lg">Learn More</a></p>
    </div>
</div>
<div class="container">
	<div class="row">
		{% for product in products %}
		<div class="col-md-3">
			<div class="thumbnail">
				<img src="{{product.imgLink}}" style="width:200px;height:200px;">
				<div class="caption">
					<span><b>{{product.title}}</b></span>
				</div>
				<p>${{product.originalPrice}}</p>
				<p>
					<a href="#" class="btn btn-primary">
					<span class="glyphicon glyphicon-shopping-cart"></span>	Add To Cart
					</a>
					<a href="#" class="btn btn-default">
					<span class="glyphicon glyphicon-th-list"></span>	Details
					</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}