{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<style>
	.caption {
		position: relative;
		display: block;
		border-bottom: 1px solid black;
		white-space: nowrap; 
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>
<div class="page-header">
	<div class="jumbotron">
		<h1>Welcome to UR-Mart!</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, error sequi labore accusantium facilis architecto eligendi minus ad, a exercitationem eos ab earum! Quae debitis velit dolorem eaque quod omnis.</p>
		<p><a class="btn btn-primary btn-lg">Learn More</a></p>
	</div>
</div>
<div class="container">
	<form action="{{url_for(function)}}" class="form-inline" METHOD="POST">
		<div class="form-group">
			<label for="filter">Sort By: </label>
			<select style="width:200px;" selected="{{filter_by}}" class="form-control" id="filter" name="filter">
				<option>{{filter_by}}</option>
				{% for filter in filters %}
				{% if filter != filter_by  %}
				<option>{{filter}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="brand" style="margin-left:25px;">Brand: </label>
			<select style="width:200px;" selected="{{brand}}" class="form-control" id="brand" name="brand">
				<option>{{brand}}</option>
				{% if brand != "All"  %}
				<option>All</option>
				{% endif %}
				{% for item in brands %}
				{% if item != brand  %}
				<option>{{item}}</option>
				{% endif %}
				{% endfor %}
			</select>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<br>
<div class="container">
	<div class="row">
		{% for product in products %}
		<div class="col-md-4">
			<div class="thumbnail">
				<img src="{{product.imgLink}}" style="width:350px;height:250px;">
				<div class="caption">
					<b>{{product.title}}</b>
				</div>
				<p>${{product.originalPrice}}</p>
				<p>
					<a href="#" class="btn btn-primary">
						<span class="glyphicon glyphicon-shopping-cart"></span>	<b>Add To Cart</b>
					</a>
					<a href="{{url_for('app.item', SKU=product.SKU)}}" class="btn btn-default">
						<span class="glyphicon glyphicon-th-list"></span>	<b>Details</b>
					</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
