{% extends "base.html" %}
<!-- {% import "bootstrap/wtf.html" as wtf %} -->
{% block page_content %}
<div class="page-header">
    <h1><b>Add Product Listing:</b></h1>
</div>
<div class="container">
   <form action="{{url_for('app.create')}}" METHOD="POST">
      <div class="form-group">
        <label for="title">Product Title: </label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Product Title">
    </div>
    <div class="form-group">
       <label for="brand">Product Brand: </label>
       <input type="text" class="form-control" id="brand" name="brand" placeholder="Enter Product Brand">
   </div>
   <div class="form-group">
    <label for="category">Product Category: </label>
    <input type="text" class="form-control" id="category" name="category" placeholder="Enter Product Category">
</div>
<div class="form-group">
   <label for="subcategory">Product Sub-category: </label>
   <input type="text" class="form-control" id="subcategory" name="subcategory" placeholder="Enter Product Sub-category">
</div>
<div class="form-group">
    <label for="SKU">SKU: </label>
    <input type="text" class="form-control" id="SKU" name="SKU" placeholder="Enter SKU">
</div>
<div class="form-group">
    <label for="amount">In Stock: </label>
    <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Stock Amount">
</div>
<div class="form-group">
    <label for="price">Original Price: </label>
    <input type="number" step="any" class="form-control" id="price" name="price" placeholder="Enter Original Price">
</div>
<div class="form-group">
    <label for="link">Image Link: </label>
    <input type="text" class="form-control" id="link" name="link" placeholder="Enter Image Link">
</div>
<div class="form-group">
   <label for="description">Item Description (Type "(*)" to make a list item bullet): </label>
   <textarea class="form-control" rows="20" cols="50" id="description" name="description" placeholder="Enter Item Description"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
